.main {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}

.hero h3 {
    margin-top: 0.5rem;
}

.hero button {
    margin-top: 1rem;
}

.rizzchess {
  width: 400px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}